{% extends 'parent.html' %}
{% load static %}
{% block admin %}

  <main class="main" id="about">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Resume</h1>
              <p class="mb-0">Comprehensive qualifications and extensive work experience in data analysis and full-stack development showcased here.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Resume</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>Amit Kumar</h4>
              <p><em>As a dedicated Data Analyst and software
                development student, A career opportunity with
                a reputed IT company, where I  can best utilize
                my technical knowledge and soft skills to learn,
                grow and add value to the organization.</em></p>
              <ul>
                <li>Ranipur, Narayanpur, Sant Kabir Nagar ,272270</li>
                <li>(+91) 738-0894-07</li>
                <li>212313@kit.ac.in</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Technology</h4>
              <h5>2021 - 2025</h5>
              <p><em>Kanpur Institute of Technology Kanpur (UP)</em></p>
              <p>I am completing my B.Tech from Kanpur Institute of Technology in 2025. It is a reputed college in Kanpur. KIT is an ISO 9001:2015 certified institute and established in 2004.</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Intermediate </h4>
              <h5>2016 - 2018</h5>
              <p><em> S. R. N. C. K. V. M. Ramwapur sarkari S K Nagar (UP)</em></p>
              <p>I have passed my intermediate from here with first division. This is a reputed college here.</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>High School</h4>
              <h5>2014 - 2016</h5>
              <p><em>S.P.I.C Bharwalia Khurd S K Nagar (UP) </em></p>
              <p> I have passed my high school from here with first division. </p>
            </div><!-- Edn Resume Item -->


            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">CERTIFICATIONS</h3>
  
              <div class="resume-item pb-0">
                <p><em><a href="https://www.coursera.org/user/d45db33d01ad37a0e3b2662965eed580"  style="color: White;">coursera.org</a></em></p>
              </div><!-- Edn Resume Item -->
  
              <div class="resume-item pb-0">
                <p><em><a href="https://learn.microsoft.com/en-us/users/amitkumar-3554/" style="color: white;">learn.microsoft.com</a></em></p>
             
              </div><!-- Edn Resume Item -->
  
              <div class="resume-item pb-0">
                <p><em><a href="https://www.hackerrank.com/profile/av305764" style="color: white;">Hackerrank.com</a></em></p>
             
              </div><!-- Edn Resume Item -->
  
              <h3 class="resume-title"> ACHIEVEMENTS</h3>
              <div class="resume-item">
                <h4>Best Performance Award </h4>
                <p><em>Softpro India Lucknow</em></p>
              </div><!-- Edn Resume Item -->
  
              <div class="resume-item">
                <h4> College Competition</h4>
               
                <p><em> Kanpur Institute of Technology </em></p>
                
              </div><!-- Edn Resume Item -->
  
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Working Experience</h3>
            <div class="resume-item">
              <h4>Online Admission System</h4>
              <h5>1 July 2024 - 30 Sep 2024</h5>
              <p><em>Softpro India  ( Biotech Park Lucknow )</em></p>
              <ul>
                <li>The Online Admission System for Biotech Park is an advanced digital platform that simplifies and modernizes the admissions process.</li>
            <li> It allows prospective students to apply, upload documents, and track their application status online. By automating administrative tasks and reducing manual work, the system enhances efficiency, transparency, and accessibility </li>
                <!--   <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>--> 
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>School Management System </h4>
              <h5>1 July 2024 - 30 Sep 2024</h5>
              <p><em>Softpro India  ( M. R. Jaipuria School Barabanki) </em></p>
              <ul>
                <li>This system is designed to digitize every aspect of school operations, from admissions to academic management, ensuring that all processes are streamlined and efficient.</li>
               <li>Through this platform, communication and feedback between students, teachers, and administrators are streamlined, ensuring a seamless flow of information and prompt resolution of any issues.</li>
                <li>The system also enhances the digital experience by providing real-time access to educational materials, attendance records, examination results, and other essential resources.</li>
                <!-- <li>Created 4+ design presentations and proposals a month for clients and account managers</li>-->
              </ul>
            </div><!-- Edn Resume Item -->

            
            <div class="resume-item">
              <h4>Student Face Attendance Management System </h4>
              <h5>1 May 2024 - 30 May 2024</h5>
              <p><em>Remote</em></p>
              <ul>
                <li>The Student Face Attendance Management System automates attendance using facial recognition, featuring real-time data processing, customizable settings, user role management, robust reporting, and comprehensive training for educational institutions.</li>
             <!--  <li>Through this platform, communication and feedback between students, teachers, and administrators are streamlined, ensuring a seamless flow of information and prompt resolution of any issues.</li>
                <li>The system also enhances the digital experience by providing real-time access to educational materials, attendance records, examination results, and other essential resources.</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>-->
              </ul>
            </div>

            <div class="resume-item">
              <h4>Diabetes Prediction System </h4>
              <h5>Oct 2024</h5>
              <p><em>Softpro India</em></p>
              <ul>
                <li>Developed a Diabetes Prediction System using machine learning
                  algorithms to analyze patient data and provide accurate
                  predictions on diabetes risk. </li>
            
              </ul>
            </div>

            <div class="resume-item">
              <h4>CN DASHBOARD </h4>
              <h5>Aug 2024</h5>
              <p><em>Remote</em></p>
              <ul>
                <li>CN dashboard in Power BI improves data visualization and delivers real-time insights for effective decision-making.</li>

                <li>  It integrates various data sources, allows customization, and promotes collaboration through interactive reports and predictive analytics. </li>
            
              </ul>
            </div>


          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

  </main>


  <!-- Scroll Top 
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <div id="preloader"></div>
-->
{% endblock %}